<div class="toolbar">
    <div class="coin-container" [ngClass]="{ 'animation': isLoading }" (click)="sound.currentTime = 0; sound.play();">
        <i class="nes-icon coin is-medium" [ngClass]="{ 'animation': isLoading }"></i>
    </div>
    <h3>Expenses app</h3>
    <button type="button" class="nes-btn is-warning" style="margin-right: 10px"
        (click)="settingsdialog.style.display = 'block'">T</button>
</div>

<div class="content">
    <div class="flex-row">
        <div class="nes-input-container">
            <label for="name_amount">Amount</label>
            <input type="number" id="name_amount" class="nes-input" [(ngModel)]="amount">
        </div>
        <div class="nes-input-container" style="width: 120%">
            <label for="user_select">User</label>
            <div class="nes-select">
                <select required id="user_select" [(ngModel)]="user">
                    <option value="Oleg">Oleg</option>
                    <option value="Hanna">Hanna</option>
                </select>
            </div>
        </div>
    </div>

    <div class="flex-row">
        <div class="nes-input-container">
            <label for="category_select">Category</label>
            <div class="nes-select">
                <select required id="category_select" [(ngModel)]="category">
                    <option *ngFor="let c of categories" [ngValue]="c[0]">{{c[0]}}</option>
                </select>
            </div>
        </div>

        <div>
            <button [disabled]="!this.token || isLoading " class="nes-btn"
                [ngClass]="{ 'is-disabled': !this.token || isLoading }" (click)="getCategories()">R</button>
        </div>
    </div>

    <div class="nes-input-container">
        <label for="name_comment">Comment</label>
        <input type="text" id="name_comment" class="nes-input" [(ngModel)]="comment">
    </div>

    <div class="flex-row">
        <div class="nes-input-container">
            <button [disabled]="!this.user || !this.token || !this.amount || !this.category || isLoading"
                class="nes-btn"
                [ngClass]="{ 'is-disabled': !this.user || !this.token || !this.amount || !this.category || isLoading }"
                (click)="addClick()" (click)="sound.play();" (click)="monthSelect.value = ''">Add</button>
        </div>

        <div class="nes-input-container">
            <div class="nes-select">
                <select #monthSelect (change)="getMonthData($event.target.value)"
                    [disabled]="!this.user || !this.token || isLoading">
                    <option value="" disabled selected hidden>Select month</option>
                    <option value="1">January</option>
                    <option value="2">February</option>
                    <option value="3">March</option>
                    <option value="4">April</option>
                    <option value="5">May</option>
                    <option value="6">June</option>
                    <option value="7">July</option>
                    <option value="8">August</option>
                    <option value="9">September</option>
                    <option value="10">October</option>
                    <option value="11">November</option>
                    <option value="12">December</option>
                </select>
            </div>
        </div>

    </div>

    <div *ngIf="lastRows" class="nes-table-responsive" style="font-size: 8px; width: 100%;">
        <table class="nes-table is-bordered is-centered" style="width: calc(100% - 8px);">
            <tbody>
                <tr *ngFor="let r of lastRows">
                    <td style="width: 105px">{{r[0] | date:'d.MM.yyyy'}}</td>
                    <td style="width: 55px">{{r[1]}}</td>
                    <td>{{r[2]}}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <app-chart [dataSet]="monthData"></app-chart>
</div>

<div #settingsdialog id="favDialog">
    <form method="dialog" class="nes-dialog is-rounded">
        <p class="title">Settings</p>
        <div class="nes-input-container">
            <label for="name_token">Token:</label>
            <input type="text" id="name_token" class="nes-input" [(ngModel)]="token"
                [ngModelOptions]="{standalone: true}">
        </div>
        <menu class="dialog-menu">
            <button class="nes-btn is-primary" (click)="settingsdialog.style.display = 'none'">OK</button>
        </menu>
    </form>
</div>

<audio #sound preload="auto" src="./assets/smb_coin.wav"></audio>
<modal-component></modal-component>